---
layout: default
title: Lake's blog
tagline: 
---
{% include JB/setup %}

  {% for post in paginator.posts %}
    <div class="post">
        <h1>
            <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
        <!-- shadow -->
        <div class="thumb-shadow">
            <!-- post-thumb -->
            <div class="post-thumbnail">
                {{post.summary}}
            </div>
            <!-- ENDS post-thumb -->
            <div class="the-excerpt">
                <div class="left">
                    <strong>Posted on</strong> {{ post.date | date_to_string }} 
                </div>
                <div class="right">
                    <a href="{{ BASE_PATH }}{{ post.url }}" class="read-more link-button"><span>Read more</span></a>
                </div>
            </div>
            
        </div>
        <!-- ENDS shadow -->
    </div>
  {% endfor %}
  <div class="clear">
    </div>
    <ul class='pager'>
        {% if paginator.total_pages != 1 %}
            <li class='first-page'><a href='/'>Frist</a></li>
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                    <li><a href='/'>Pre</a></li>
                {% else %}
                    <li><a href='/page{{paginator.previous_page}}'>Pre</a></li>
                {% endif %}
                {% if 1 == paginator.page %}
                    <li class='active'><a href='/'>1</a></li>
                {% else %}
                    <li><a href='/'>1</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
            {% if count == paginator.page %}
                <li class='active'><a href='/page{{count}}'>{{count}}</a></li>
            {% ese %}
                <li><a href='/page{{count}}'>{{count}}</a></li>
            {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
            <li><a href='/page{{paginator.next_page}}'>Next</a></li>
        {% endif %}
        {% if paginator.total_pages != 1 %}
            <li class='last-page'><a href='/page{{paginator.total_pages}}'>Last</a></li>
        {% endif %}
    </ul>
