---
layout: default
title: Lake's blog
tagline: By Lake
---
{% include JB/setup %}

<div id="posts">
  {% for post in site.posts %}
    <div class="post">
        <h1>
            <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
        <div class="n-comments">
            165</div>
        <!-- shadow -->
        <div class="thumb-shadow">
            <!-- post-thumb -->
            <div class="post-thumbnail">
                Are you going to Scarborough Fair
                    Parsley, sage, rosemary and thyme
                    Remember me to one who lives there
                    He was once a true love of mine

                    Tell him to make me a cambric shirt
                    Parsley, sage, rosemary and thyme
                    Without no seams nor needle work
                    Then he'll be a true love of mine
            </div>
            <!-- ENDS post-thumb -->
            <div class="the-excerpt">
                <strong>Posted on</strong> {{ post.date | date_to_string }} 
            </div>
            <a href="{{ BASE_PATH }}{{ post.url }}" class="read-more link-button"><span>Read more</span></a>
        </div>
        <!-- ENDS shadow -->
    </div>
  {% endfor %}
</div>

