---
layout: default
title: Lake's blog
tagline: 
---
{% include JB/setup %}

  {% for post in site.posts %}
    <div class="post">
        <h1>
            <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
        <div class="n-comments">
            165</div>
        <!-- shadow -->
        <div class="thumb-shadow">
            <!-- post-thumb -->
            <div class="post-thumbnail">
                Are you going to Scarborough Fair </br>
                    Parsley, sage, rosemary and thyme.</br>
                    Remember me to one who lives there</br>
                    He was once a true love of mine</br>

                    Tell him to make me a cambric shirt
                    Parsley, sage, rosemary and thyme
                    Without no seams nor needle work
                    Then he'll be a true love of mine
            </div>
            <!-- ENDS post-thumb -->
            <div class="the-excerpt">
                <div class="left">
                    <strong>Posted on</strong> {{ post.date | date_to_string }} 
                </div>
                <div class="right">
                    <a href="{{ BASE_PATH }}{{ post.url }}" class="read-more link-button"><span>Read more</span></a>
                </div>
            </div>
            
        </div>
        <!-- ENDS shadow -->
    </div>
  {% endfor %}
  <div class="clear">
    </div>
    <ul class='pager'>
        <li class='first-page'><a href='#'>&laquo;</a></li>
        <li><a href='#'>&lsaquo;</a></li>
        <li><a href='#'>2</a></li>
        <li><a href='#'>3</a></li>
        <li class='active'><a href='#'>4</a></li>
        <li><a href='#'>5</a></li>
        <li><a href='#'>6</a></li>
        <li><a href='#'>&rsaquo;</a></li>
        <li class='last-page'><a href='#'>&raquo;</a></li>
    </ul>
