<div id="posts" class="single">
    <!-- post -->
    <div class="post">
        <h1>
            <a href="single.html">{{ page.title }}</a></h1>
        <!-- shadow -->
        <div class="thumb-shadow">
            <div class="post-thumbnail">
                    <img src="img/dummies/596x270.gif"  alt="Feature image" />
            </div>
            <div>
                {{ content }}
            </div>
        </div>
        <!-- ENDS shadow -->
        <!-- meta -->
        <ul class="meta">
            <li><strong>Posted on</strong> {{ page.date | date_to_long_string }} </li>
            {% unless page.categories == empty %}
            <li>{% assign categories_list = page.categories %} {% include JB/categories_list %}</li>
            {% endunless %} {% unless page.tags == empty %}
            <li><strong>Tags</strong>
                <div class="meta-tags">
                    {% assign tags_list = page.tags %} {% include JB/tags_list %} {% endunless %}
                </div>
            </li>
        </ul>
        <!-- ENDS meta -->
    </div>
    <div class="comments-pagination">
      {% if page.previous %}
        <a class='prev page-numbers' href='{{ BASE_PATH }}{{ page.previous.url }}' title="{{ page.previous.title }}">&laquo; Previous</a>
      {% endif %}
      {% if page.next %}
        <a class='prev page-numbers' href='{{ BASE_PATH }}{{ page.next.url }}' title="{{ page.next.title }}">&laquo; Next</a>
      {% endif %}
    </div>
    <!-- ENDS post -->
    <!-- Comments-Block -->
    <div id="comments-block">
        <div class="n-comments">
            165</div>
        <div class="n-comments-text">
            comments</div>
        <!-- comments list -->
        <ul class="commentlist">
            {% include JB/comments %}
        </ul>
        <!-- ENDS comments list -->
    </div>
    <!-- ENDS Comments-block -->
</div>
