<div id="posts" class="single">
    <!-- post -->
    <div class="post">
        <h1>
            {{ page.title }}</h1>
        <!-- shadow -->
        <div class="thumb-shadow">
            <div>
                {{ content }}
            </div>
        </div>
        <!-- ENDS shadow -->
        <!-- meta -->
        <ul class="meta">
            <li><strong>Posted on</strong> {{ page.date | date_to_long_string }} </li>
            {% unless page.categories == empty %}
                {% assign categories_list = page.categories %} {% include JB/categories_list %}
            {% endunless %} 
            {% unless page.tags == empty %}
            <li><div class="meta-tags">
                    {% assign tags_list = page.tags %} {% include JB/tags_list %} 
                </div>
            </li>
            {% endunless %}
        </ul>
        <!-- ENDS meta -->
    </div>
    <div class="comments-pagination">
      {% if page.previous %}
        <a class='prev page-numbers' href='{{ BASE_PATH }}{{ page.previous.url }}' title="{{ page.previous.title }}">&laquo; Previous</a>
      {% endif %}
      {% if page.next %}
        <a class='prev page-numbers' href='{{ BASE_PATH }}{{ page.next.url }}' title="{{ page.next.title }}">&laquo; Next</a>
      {% endif %}
    </div>
    <!-- ENDS post -->
    <div id="comments-block">
        <ul class="commentlist">
            {% include JB/comments %}
        </ul>
    </div>
</div>
